@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2b2a31;
  --secondary-color: #27262b;
  --theme-color: #d4cb92;
  --text-light: #3a3940;
  --primary-font: 'Playfair Display';
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--primary-font), sans-serif;
  background-color: var(--primary-color);
  color: white;
}

/* shadow */
.black-shadow {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.11);
}
.shadow-light {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);
}

.bubble_animation {
  animation: bubble 1.5s linear infinite;
}
@keyframes bubble {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
